<ion-view view-title="About App">
<ion-content overflow-scroll="false">
<div class="list card">
	<div class="item item-thumbnail-left">
		<img src="img/logo.png">
		<h1 style="font-size:25px;">Ver. Alpha-1.0a</h1>
		<p>Author : Mahdi Ridho</p>
	</div>
	<p class="item item-icon-left dark"><i class="icon ion-iphone"></i>+62 85878840335</p>
	<p class="item item-icon-left balanced"><i class="icon ion-social-whatsapp"></i>+62 85878840335</p>
	<p class="item item-icon-left assertive"><i class="icon ion-email"></i>mahdi.ridho@gmail.com</p>
	<p class="item item-icon-left positive"><i class="icon ion-social-facebook"></i><a href="https://www.facebook.com/profile.php?id=1055299014" target="_blank">Mahdi Ridho</a></p>
	<p class="item item-icon-left royal"><i class="icon ion-social-linkedin"></i><a href="https://www.linkedin.com/in/mahdi-ridho-61b505a6?trk=hp-identity-name" target="_blank">Mahdi Ridho</a></p>
	<p class="item item-icon-left calm"><i class="icon ion-social-skype"></i>mahdi.ridho</p>
</div>
</ion-content>
</ion-view>